[user]
	name  = Patrick King
	email = patrick@patrickcking.com
	username = pking
	signingkey = 35F55DB1
[core]
	editor=vim
	excludefile=~/.global_gitignore
[web]
	browser = google-chrome
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[push]
	default = current
[log]
	showSignature = true
