[user]
	name  = Patrick King
	email = patrick@patrickcking.com
	username = pking
	signingkey = 35F55DB1
[core]
	editor=vim
	whitespace=all
	excludesfile = ~/.global_gitignore
[web]
	browser = google-chrome
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[push]
	default = current
[log]
	showSignature = true
[alias]
	up = pull --rebase --autostash
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
