-- This file should serve as an example of my uncommitted secrets.lua file
-- that contains values that I deem too sensitive to include in committed files.
-- My hope is that by providing context and examples my Hammerspoon configuration
-- could be useful to more people.
secrets = {}

-- Elgato ================================================================== {{{
-- I use Elgato Key Lights when I have my camera on for Zoom meetings. These IPs
-- are used in app-config/elgato.lua as the Key Lights expose an API endpoint on
-- port 9123 where you can turn the lights on and off. I find this to be a much
-- more reiable way to interact with them instead  of using something like
-- AppleScript interacting with the Elgato application.

secrets.elgato = {}
secrets.elgato.ips = { "xxx.xxx.xxx.xxx", "yyy.yyy.yyy.yyy" }
-- ========================================================================= }}}

-- URLDispatcher =========================================================== {{{

--

secrets.urls = {}
secrets.urls.builtin = "/Applications/Safari.app"
secrets.urls.videoPlayer = ""
-- I use different default browsers on my work and personal machines.
if Local.env ~= "work" then
    secrets.urls.default = ""
    _log("Loaded personal browser secrets.")
else
    secrets.urls.meetings = ""
    secrets.urls.default = ""
    _log("Loaded work browser secrets.")
end
-- ========================================================================= }}}

-- Elgato ================================================================== {{{

--

secrets.audioControl = {}
secrets.audioControl.headphoneOutput = "Headphone Bluetooth Name"
secrets.audioControl.internalOutput = "MacBook Speakers"
secrets.audioControl.monitorOutput = ""
secrets.audioControl.internalMic = "MacBook Microphone"
secrets.audioControl.externalMic = ""
-- ========================================================================= }}}

-- Charging ================================================================ {{{
secrets.charging = {}
secrets.charging.toggleContainers = { "container1", "container2", "containerN" }
-- ========================================================================= }}}

-- Docking Station ========================================================= {{{
secrets.dock = {}
secrets.dock.dock = "Dock USB Name"
secrets.dock.LAN = "Dock NIC Name"
secrets.dock.mouseID = "Mouse Bluetooth MAC address"
secrets.dock.dockedApps = {"Docked App 1", "Docked App 2"} -- Do not use `/Applications/`` prefix here
-- ========================================================================= }}}

-- Mail Application ======================================================== {{{
secrets.mail = {}
secrets.mail.companionApps = {"Mail App 1"} -- Do not use `/Applications/` prefix here
-- ========================================================================= }}}

-- Wifi & Networking ================-====================================== {{{
secrets.networking = {}
secrets.networking.homeSSID = "Home SSID"
secrets.networking.workSSID = "Work SSID"
secrets.networking.officeSSID = ""
secrets.networking.phoneSSID = ""
secrets.networking.captiveSSIDs = {"DeltaSkyClub", "Alaska WiFi", "IHG Connect", "@Hyatt_WiFi"}
secrets.networking.homeDNS = "192.168.xxx.xxx" -- Local DNS resolver
secrets.networking.publicDNS = "1.1.1.1" -- Public DNS resolver
secrets.networking.link = ""
-- ========================================================================= }}}

_log("Secrets loaded.")

-- vi: ft=lua
